.input-flight-info {
  width: 300px;
  border-radius: 22px;
  border: solid 1px gray;
  height: 214px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-field {
  text-align: center;
  border: none;
  background-color: #282c34;
  border-bottom: solid 1px gray;
  color: gray;
}
